main {
  display: flex;
  justify-content: space-evenly;
  flex-flow: row wrap;
  align-content: center;

}
.cardContent {
  border: 1px solid lightslategray;
  padding: 10px;
  width: 25%;
  margin: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.cardContent img {
  border-radius: 100px;
  border: 1px solid blue;
  
}

.cardContent h3 {
  font-size: 17px;
}

.cardContent p {
  color: lightgrey;
  font-size: 13px;
}

.cardContent button {
  border-radius: 3px;
  border: 1px solid blue;
  background-color: blue;
  height: auto;
  color: white;
  padding: 5px;
}

@media (max-width: 572px) {
  .cardContent {
    width: 80%;
    margin: 10px;
    height: auto;

  }
  
}